@media screen and (max-width: 565px){
  body{
    background: #00dbf1;
  }
}
*{
  padding: 0;
  margin: 0;
}
html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
}
#app{
  width: 565px;
  height: 100vh;
  margin: 0 auto;
}
.shell{
  border: 1px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 565px;
  height: 100vh;
  background: #00dbf1;
  position: relative;
}
.screenWrapper{
  border: 8px #000 dashed;
  width: 420px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  /*box-sizing: border-box;*/
  /*background: #000;*/
}
.panelBorder{
  border: 4px solid;
  border-color:#008f9d #99FFFF #99FFFF #008f9d;
}
.panel{
  background: #9ead86;
  width: 380px;
  height: 448px;
  padding:8px;
  /*box-sizing: border-box;*/
  display: flex;
  position: relative;
  border: 2px solid #494536;
}

.screen{

}
.matrix{
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  padding: 2px;
}
.col{
  display: flex;
}
.grid{
  width: 20px;
  height: 20px;
  border: 2px solid #879372;
  padding: 2px;
  box-sizing: border-box;
  margin: 1px;
}
.grid.active{
  border: 2px solid #000;
}
.grid::after{
  display: block;
  content: '';
  width: 12px;
  height: 12px;
  background: #879372;
}
.grid.active::after{
  background: #000;
}
.grid.active.twinkle{
  animation:squareClear .3s infinite;
}
.grid.active.twinkle::after{
  animation:squareClearAfter .15s infinite;
}
.info{
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000;
  box-sizing: border-box;
  padding: 10px 0;
}
.info-item{
  width: 120px;
}
.info-item>p{
  font-weight: bold;
  margin-left: 10px;
}
.info-item.currentScore>div{
  margin: 10px 0 0 30px;
}
.info-item.topScore>div{
  margin: 10px 0 0 30px;
}
.info-item.level>div{
  margin: 10px 0 0 30px;
}
.info-item.nextSquare>div{
  margin: 10px 0 0 30px;
}
.currentScore span{
  display: inline-block;
  width: 14px;
  height: 24px;
}
.topScore span{
  display: inline-block;
  width: 14px;
  height: 24px;
}
.level span{
  display: inline-block;
  width: 14px;
  height: 24px;
  margin-left: 70px;
}
.system{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.system>.pause{
  width: 20px;
  height: 18px;
  margin-bottom: 5px;
  margin-right: 5px;
}
.system>.audio{
  width: 25px;
  height: 21px;
  margin-bottom: 4px;
}
.system>.systemTime{
  margin-top: 10px;
  margin-left: 5px;
}
.system>.systemTime>span{
  display: inline-block;
  width: 14px;
  height: 24px;
}
.system>div {
}
.logo{
  position: absolute;
  top: 100px;
  width: 228px;
  text-align: center;
}
.operator{
  display: flex;
  justify-content: space-around;
}
.directionBtn{
  width: 250px;
  height: 250px;
  /*border: 1px solid #000;*/
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
}
.directionBtn .upBtn{;
  border-radius: 5px;
  width: 60px;
  height: 90px;
  background: #CCCC00;
  margin: 0 auto;
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
  position: relative;
  top: 25px;
}
.directionBtn .x{
  display: flex;
  justify-content: space-between;
}
.directionBtn .leftBtn{
  border-radius: 5px;
  width: 90px;
  height: 60px;
  background: #CCCC00;
  /*margin: 0 auto;*/
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
  position: relative;
  left: 25px;

}
.directionBtn .btnBG{
  width: 60px;
  height: 60px;
  background: #CCCC00;
  z-index: 10;
}
.directionBtn .rightBtn{
  border-radius: 5px;
  width: 90px;
  height: 60px;
  background: #CCCC00;
  /*margin: 0 auto;*/
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
  position: relative;
  left: -25px;
}
.directionBtn .downBtn{
  border-radius: 5px;
  width: 60px;
  height: 90px;
  background: #CCCC00;
  margin: 0 auto;
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
  position: relative;
  top: -25px;
}
.systemBtn{
  width: 80px;
  height: 250px;
  /*border: 1px solid #000;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.systemBtn .pauseBtn{
  width: 35px;
  height: 35px;
  border-radius: 40%;
  background: orange;
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
}
.systemBtn .audioBtn{
  width: 35px;
  height: 35px;
  border-radius: 40%;
  background: yellow;
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
}
.systemBtn .refreshBtn{
  width: 35px;
  height: 35px;
  border-radius: 40%;
  background: darkred;
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
}
.functionBtn{
  width: 150px;
  height: 250px;
  /*border: 1px solid #000;*/
}
.functionBtn .fallBtn{
  width: 100px;
  height: 100px;
  background: hotpink;
  border-radius:45% ;
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
  margin: 75px 10px;
}





.number0{
  background: url("../images/icon.png") no-repeat -75px -25px;
}
.number1{
  background: url("../images/icon.png") no-repeat -89px -25px;
}
.number2{
  background: url("../images/icon.png") no-repeat -103px -25px;
}
.number3{
  background: url("../images/icon.png") no-repeat -117px -25px;
}
.number4{
  background: url("../images/icon.png") no-repeat -131px -25px;
}
.number5{
  background: url("../images/icon.png") no-repeat -145px -25px;
}
.number6{
  background: url("../images/icon.png") no-repeat -159px -25px;
}
.number7{
  background: url("../images/icon.png") no-repeat -173px -25px;
}
.number8{
  background: url("../images/icon.png") no-repeat -187px -25px;
}
.number9{
  background: url("../images/icon.png") no-repeat -201px -25px;
}
.number00{
  background: url("../images/icon.png") no-repeat -215px -25px;
}
.numberP{
  background: url("../images/icon.png") no-repeat -229px -25px;
}
.numberPP{
  background: url("../images/icon.png") no-repeat -243px -25px;
}
.pauseIcon0{
  background: url("../images/icon.png") no-repeat -100px -75px;
  width: 20px;
  height: 18px;
}
.pauseIcon1{
  background: url("../images/icon.png") no-repeat -75px -75px;
  width: 20px;
  height: 18px;
}
.audioIcon0{
  background: url("../images/icon.png") no-repeat -175px -75px;
  width: 50px;
  height: 21px;
}
.audioIcon1{
  background: url("../images/icon.png") no-repeat -150px -75px;
  width: 25px;
  height: 21px;
}
.bg-dragon1{
  background: url('../images/icon.png') no-repeat 0 -100px;
  margin: 0 auto;
  width: 80px;
  height: 86px;
}
.bg-dragon2{
  background: url('../images/icon.png') no-repeat -100px -100px;
  margin: 0 auto;
  width: 80px;
  height: 86px;
}
.bg-dragon3{
  background: url('../images/icon.png') no-repeat -200px -100px;
  margin: 0 auto;
  width: 80px;
  height: 86px;
}
.bg-dragon4{
  background: url('../images/icon.png') no-repeat -300px -100px;
  margin: 0 auto;
  width: 80px;
  height: 86px;
}
.bg-dragon5{
  transform: rotateY(180deg);
  background: url('../images/icon.png') no-repeat 0 -100px;
  margin: 0 auto;
  width: 80px;
  height: 86px;
}
.bg-dragon6{
  transform: rotateY(180deg);
  background: url('../images/icon.png') no-repeat -100px -100px;
  margin: 0 auto;
  width: 80px;
  height: 86px;
}
.bg-dragon7{
  transform: rotateY(180deg);
  background: url('../images/icon.png') no-repeat -200px -100px;
  margin: 0 auto;
  width: 80px;
  height: 86px;
}
.bg-dragon8{
  transform: rotateY(180deg);
  background: url('../images/icon.png') no-repeat -300px -100px;
  margin: 0 auto;
  width: 80px;
  height: 86px;
}
@keyframes squareClear {
  from{
    border: 2px solid #000;
  }
  to{
    border: 2px solid #879372;
  }
}
@keyframes squareClearAfter {
  from{
    background: #000;
  }
  to{
    background: #879372;
  }
}
