*{
  padding: 0;
  margin: 0;
}
.shell{
  border: 0.077rem black solid;
  box-sizing: border-box;
  margin: 0 auto;
  width: 640px;
  height: 100vh;
}
.screenWrapper{
  border: 1px #000 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
}
.panel{
  background: #9ead86;
  width: 380px;
  height: 464px;
  padding:8px;
  box-sizing: border-box;
  display: flex;
  position: relative;
}
.screen{

}
.matrix{
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  padding: 2px;
}
.col{
  display: flex;
}
.grid{
  width: 20px;
  height: 20px;
  border: 2px solid #879372;
  padding: 2px;
  box-sizing: border-box;
  margin: 1px;
}
.grid.active{
  border: 2px solid #000;
}
.grid::after{
  display: block;
  content: '';
  width: 12px;
  height: 12px;
  background: #879372;
}
.grid.active::after{
  background: #000;
}
.grid.active.twinkle{
  animation:squareClear .3s infinite;
}
.grid.active.twinkle::after{
  animation:squareClearAfter .15s infinite;
}
.info{
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #000;
  box-sizing: border-box;
}
.info-item{

}

.logo{
  position: absolute;
  top: 100px;
  width: 228px;
  text-align: center;
}
.bg-dragon1{
  background: url('../images/icon.png') no-repeat 0 -100px;
  margin: 0 auto;
  width: 80px;
  height: 86px;
}
.bg-dragon2{
  background: url('../images/icon.png') no-repeat -100px -100px;
  margin: 0 auto;
  width: 80px;
  height: 86px;
}
.bg-dragon3{
  background: url('../images/icon.png') no-repeat -200px -100px;
  margin: 0 auto;
  width: 80px;
  height: 86px;
}
.bg-dragon4{
  background: url('../images/icon.png') no-repeat -300px -100px;
  margin: 0 auto;
  width: 80px;
  height: 86px;
}
.bg-dragon5{
  transform: rotateY(180deg);
  background: url('../images/icon.png') no-repeat 0 -100px;
  margin: 0 auto;
  width: 80px;
  height: 86px;
}
.bg-dragon6{
  transform: rotateY(180deg);
  background: url('../images/icon.png') no-repeat -100px -100px;
  margin: 0 auto;
  width: 80px;
  height: 86px;
}
.bg-dragon7{
  transform: rotateY(180deg);
  background: url('../images/icon.png') no-repeat -200px -100px;
  margin: 0 auto;
  width: 80px;
  height: 86px;
}
.bg-dragon8{
  transform: rotateY(180deg);
  background: url('../images/icon.png') no-repeat -300px -100px;
  margin: 0 auto;
  width: 80px;
  height: 86px;
}
@keyframes squareClear {
  from{
    border: 2px solid #000;
  }
  to{
    border: 2px solid #879372;
  }
}
@keyframes squareClearAfter {
  from{
    background: #000;
  }
  to{
    background: #879372;
  }
}
