*{
  padding: 0;
  margin: 0;
}
#app{

}
.screen{
  border: 2px #000 solid;
  margin: 0 auto;
  width: 222px;
  padding: 0 2px;
}
.score{
  width: 200px;
  margin: 50px auto;
}
.col{
  display: flex;
  justify-content: space-around;
  margin: 2px 0;
}
/* #879372 */
.grid{
  box-sizing: border-box;
  padding: 2px;
  width: 20px;
  height: 20px;
  border: 2px #999 solid;
}
.grid::after{
  display: block;
  content: '';
  width: 12px;
  height: 12px;
  background: #999;
}
.grid.active{
  border: 2px #000 solid;
  overflow: hidden;
  padding: 1px;
}
.grid.active::after{
  display: block;
  content: '';
  width: 14px;
  height: 14px;
  background: #000;
}