<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="./css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="app">
        <div class="screen">
            <div v-for="(col,i) in baseMap" :key="i" class="col">
                <div v-for="(grid,i) in col" :key="i" class="grid" :class="{active:grid}"></div>
            </div>
        </div>
        <div class="score"><b>分数:{{score}}</b></div>
    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>